.navbar{
    background-color: var(--Primary-extra-light);
}
.nav-link{
    color: var(--Primary) !important;
} 

.nav-link.active{
    color: var(--Secondary-dark) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--Secondary-dark);
} 


.hero{
    height: 70vh;
    background: var(--Primary-gradient);
    display: flex;
    align-items: center;
}

.footer{
    background-color: #c3c3c3;
    text-align: center;
    padding: 40px;
    margin-top: 60px;
}